
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.conda/


.vscode/
.idea/


*.ckpt
*.safetensors
*.pth
*.pt
*.h5
*.bin
models/
checkpoints/


data/
datasets/
*.tar.gz
*.zip


logs/
wandb/
.env

secret.json
